body {
	background-color: #ffe87c;
}
.pg2_center {
	/*display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 20% 70%;*/
	margin: auto;
	width: 100%;
	height: 99vh;
	position: relative;
}

.items {
	border: 1px solid #ff000000;
}

.logo {
	width: 60%;
	margin-left: 20%;
	grid-column: 1 / 3;
}

.level {
	width: 100%;
}

.level_bg {
	background-image: url("./themes/images/custom/page2_bg.png");
	background-size: 500px;
	width: 500px;
	height: 520px;
	border: 1px solid #ff000000;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
  z-index: 1;
}

#level1 {
	border: 1px solid #ff000000;
	font-size: 60pt;
	width: 80%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 100px;
	padding-top: 12px;
	cursor: pointer;
	color: #492103;
}

#level2 {
	border: 1px solid #ff000000;
	font-size: 60pt;
	width: 80%;
	margin-top: 65px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 100px;
	padding-top: 12px;
	cursor: pointer;
	color: #492103;
}
#level3 {
	border: 1px solid #ff000000;
	font-size: 60pt;
	width: 80%;
	margin-top: 65px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 100px;
	padding-top: 12px;
	cursor: pointer;
	color: #492103;
}


.popup {
  position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 250px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.767);
	border-radius: 15px;
  visibility: collapse;
  text-align: center;
}

.text_enter {
	padding-top: 50px;
	font-size: 21px;
	font-weight: bold;
  background-image: url("./themes/images/custom/page3-13.png");
	background-size: 430px;
	width: 430px;
	height: 70px;
	border: 1px solid #ff000000;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}

.input_number {
	border-radius: 20px;
  border-color: rgba(255, 255, 255, 0.897);
	width: 180px;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	color: rgb(53, 42, 13);
	box-shadow: 5px 5px 3px rgba(36, 29, 8, 0.897);
	margin-bottom: 3%;
}





.btn_go {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:8px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.btn_go:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.btn_go:active {
	position:relative;
	top:1px;
}


.img_button_close {
	position: absolute;
	right: -3%;
	top: -5%;
	width: 4vw;
	cursor: pointer;
}



.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
  z-index: 0;
}
